# To use this configuration type, remove the .example from the filename
# You do not need to fill out the .env and the .json, just one of them

TOKEN=""
DEVELOPMENT_SERVER_ID=""
TYPE="production"
